html,body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(100, 100, 100));
    text-decoration: none;
}

body {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.header {
    height: 100px;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color:rgb(255, 6, 0);
    display: table;
}

.headerButton {
    background-color: rgb(100, 100, 100);
    height: 100px;
    width: 100%;
    color: white;
    text-decoration: none;
    display: flex;
    text-align: center;
    vertical-align:middle;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
}

.headerButton:hover {
    background-color: rgb(75, 75, 75);
}

.headerKeuze {
    height: 100px;
    width: 90%;
    display: flex;
    vertical-align:middle;
    text-decoration: none;
    display: inline-block;
}

.headerKeuze2 {
    display: inline-block;
    text-align: justify;
    cursor: pointer;
    text-decoration: none;
    font-size: 34px;
    color: rgb(255, 255, 255);
    position: relative;
    margin: 0% 6%;
}

.headerKeuze2::after {
    content: '';
    width: 0%;
    height: 5px;
    background: rgb(255, 255, 255);
    position: absolute;
    bottom: 0%;
    left: 50%;
    border-radius: 10px;
    transition: all 500ms ease;
}

.headerKeuze2:hover::after {
   left: 0%;
   width: 100%;
}


.footer {
    color: rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);
    height:70px;
    font-family: 'Titillium Web', sans-serif;
}

.hoofddeel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.circuit, .coureur, .team {
    border: 10px black solid;
    border-radius: 10px;
    padding: 5px;
    margin: 5% 0%;
    background: rgb(255, 255, 255);
    font-family: 'Titillium Web', sans-serif;
    font-size: 34px;
    text-align: center;
    cursor: pointer;
    position:relative;
}

.circuit {
    width: 25%;
    height: 320px;
}

.achtergrondfotoalgemeen{
    background-size: cover;
    background-position: center;
}

.achtergrondfoto1{
    background-image: url("../images/Vlaggen/FlagAustralia.jpg");
}

.achtergrondfoto2{
    background-image: url("../images/Vlaggen/FlagBahrain.jpg");
}
.achtergrondfoto3{
    background-image: url("../images/Vlaggen/FlagVietnam.jpg");
}
.achtergrondfoto4{
    background-image: url("../images/Vlaggen/FlagChina.jpg");
}
.achtergrondfoto5{
    background-image: url("../images/Vlaggen/FlagNetherlands.jpg");
}
.achtergrondfoto6{
    background-image: url("../images/Vlaggen/FlagSpain.jpg");
}
.achtergrondfoto7{
    background-image: url("../images/Vlaggen/FlagMonaco.jpg");
}
.achtergrondfoto8{
    background-image: url("../images/Vlaggen/FlagAzerbaijan.jpg");
}
.achtergrondfoto9{
    background-image: url("../images/Vlaggen/FlagCanada.jpg");
}
.achtergrondfoto10{
    background-image: url("../images/Vlaggen/FlagFrance.jpg");
}
.achtergrondfoto11{
    background-image: url("../images/Vlaggen/FlagAustria.jpg");
}
.achtergrondfoto12{
    background-image: url("../images/Vlaggen/FlagUnited_Kingdom.jpg");
}
.achtergrondfoto13{
    background-image: url("../images/Vlaggen/FlagHungary.jpg");
}
.achtergrondfoto14{
    background-image: url("../images/Vlaggen/FlagBelgium.jpg");
}
.achtergrondfoto15{
    background-image: url("../images/Vlaggen/FlagItaly.jpg");
}
.achtergrondfoto16{
    background-image: url("../images/Vlaggen/FlagSingapore.jpg");
}
.achtergrondfoto17{
    background-image: url("../images/Vlaggen/FlagRussia.jpg");
}
.achtergrondfoto18{
    background-image: url("../images/Vlaggen/FlagJapan.jpg");
}
.achtergrondfoto19{
    background-image: url("../images/Vlaggen/FlagUnited_States.jpg");
}
.achtergrondfoto20{
    background-image: url("../images/Vlaggen/FlagMexico.jpg");
}
.achtergrondfoto21{
    background-image: url("../images/Vlaggen/FlagBrazil.jpg");
}
.achtergrondfoto22{
    background-image: url("../images/Vlaggen/FlagUnited_Arab_Emirates.jpg");
}
.coureur {
    width: 40%;
    height: 300px;
}

.team {
    width: 55%;
    height: 400px;
}

.link {
position:absolute; 
width:100%;
height:100%;
top:0;
left: 0;
z-index: 1;
}

table, td {
  border: 1px solid black;
  border-collapse: collapse;
  background: white;
}

p {
    margin-right: 40%;
}

.paginatitel {
    text-align: center;
    font-family: verdana;
}